:ruby
  content_for(:html_title) { t('projects.html_title', name: @project.name, title: t('.page_title')) }
  page_context[:select_top_menu_nav] = 'select_projects'
  page_context[:select_footer_nav] = :project_security

%div
  = project_analysis_timestamp(@project)

.clear
.row
  .col-md-1
    &nbsp;
  .col-md-10
    %h3= t('.title')
  .col-md-1
    &nbsp;
